.row {
  border:none;
  float:left;
  clear:both;
}

.col {
  border: 1px solid #e3e3e3;
  float:left;
  height:20px;
  width:20px;


  &.status_0 {
    background-color:transparent;
  }

  &.status_1 {
    background-color:#222222;
  }
}


